<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/about.css" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-replace-svg="nest"
    ></script>
    <title>About</title>
  </head>
  <body>
    <nav class="nav" id="nav">
      <div class="nav-header">
        <h2>Coffe<span>HOUSE</span></h2>
        <a class="hamburger" id="hamburger"><i class="fas fa-bars"></i></a>
      </div>
      <ul id="nav-ul" class="nav-ul">
        <li>
          <a href="../index.html" class="nav-links"
            ><i class="fas fa-mug-hot"></i>Home</a
          >
        </li>
        <li>
          <a href="menu.html" class="nav-links"
            ><i class="fas fa-mug-hot"></i>Menu</a
          >
        </li>
        <li>
          <a href="#" class="nav-links"><i class="fas fa-mug-hot"></i>About</a>
        </li>
        <li>
          <a href="contact.html" class="nav-links"
            ><i class="fas fa-mug-hot"></i>Contact</a
          >
        </li>
      </ul>
    </nav>

    <section class="about">
      <div class="heading">
        <div class="title">
          <span class="line"></span>
          <h2>About Us</h2>
          <span class="line"></span>
        </div>
        <p>
          We are small and proud establishment prepare to face the test of time.
        </p>
      </div>

      <div class="content">
        <img src="../images/logo.png" alt="" />
        <div>
          <div class="about-caffe">
            <h2>Coffe House</h2>
            <p>We are located at Serbia Novi Sad Vase Pelagica 7</p>
            <p>REST RELAX REVIVE ...</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae
              quam aliquam, ut, fugit voluptatum repudiandae omnis veniam
              molestias nostrum tempora in autem quod modi amet a, facilis nihil
              laudantium magnam!
            </p>
            <p>Stop in today. We would love to see you.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section aditional-info">
      <ul class="horizontal-list">
        <li>
          <h3>Products</h3>
          <ul class="vertical-list">
            <li>Our Coffee</li>
            <li>Coffee Machines</li>
            <li>Services</li>
          </ul>
          <img src="../images/logo.png" class="logo-hide" alt="" />
        </li>
        <li>
          <h3>Company</h3>
          <ul class="vertical-list">
            <li>Coffee and us</li>
            <li>Location</li>
          </ul>
        </li>
        <li>
          <h3>Need Help?</h3>
          <ul class="vertical-list">
            <li>Customer Support</li>
            <li>FAQ</li>
            <li>Call Us +370 5 240 43 43</li>
          </ul>
        </li>
        <li>
          <h3>Contact</h3>
          <ul class="vertical-list">
            <li><i class="fab fa-linkedin"></i> LinkedIn</li>
            <li><i class="fab fa-facebook"></i> Facebook</li>
            <li><i class="fab fa-instagram"></i> Instagram</li>
          </ul>
        </li>
      </ul>
    </section>

    <section class="copy-rights">
      <p>&#169; 2020 CoffeHouse - All rights reserved!</p>
      <p>Site by: Milan Julinac</p>
      <p>
        This is a website that I made in a spare time to demonstrate some of my
        front-end skills.
      </p>
    </section>

    <script src="/index.js"></script>
  </body>
</html>
